# MongoDB Atlas Database Connection URI
MONGO_URI=mongodb://vibhathcross_db_user:dMITEq9K2JszDuqp@ac-4ngm1dq-shard-00-00.ezjcbqg.mongodb.net:27017,ac-4ngm1dq-shard-00-01.ezjcbqg.mongodb.net:27017,ac-4ngm1dq-shard-00-02.ezjcbqg.mongodb.net:27017/thripura_db?ssl=true&authSource=admin&retryWrites=true&w=majority

# Express Backend Server Port
PORT=3000

# Gmail SMTP Email Configuration (Nodemailer)
MAIL_USER=thripuratly@gmail.com
MAIL_PASS=your_gmail_app_password_here
